/**
 */

@import "icons.css";

/* reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, em, font, img,
dl, dt, dd, ol, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Global */
body {
	color: #000;
	background: #cfcfcf;
	font-family: Verdana, Geneva, sans-serif;
	font-size:62.5%;
    line-height:1.4;
}
a, .node a {
	text-decoration: none;
	color: #000;
}
a:hover, .node a:hover {
	color: #900;
	text-decoration: none;
}
h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
blockquote, code {
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	border: 1px dashed #999;	
}
blockquote {
	background: #F8F4AB;
}
code {
	background: #F5D582;
}
/* Layout */
#wrapper {
	min-width: 1000px; /* not working in IE6 */
	padding: 0px 0 0 0;
	background: url(images/container_bg.jpg) center top repeat-y;
}
#bottom_frame {
	padding: 0 0 47px 0;
	background: url(images/bottom_frame.jpg) no-repeat center bottom;
}
#top_frame {
	background: url(images/top_frame.jpg) no-repeat center top;
}
#header, #container, #footer {
	width: 1000px;	
}
/*******End Layout****/
h1
{
  font-size:1.60em;
  margin:0 0 0.5em;
  padding:0;
}



img, a img
{
  border: none;
}

p
{
  font-family:"Lucida Grande",Verdana,sans-serif;
  font-size:1.2em;
  line-height:20px;
  margin:5px 0 0 6px;
  padding-bottom:14px;
}

:focus
{
  outline: 0;
}

.clear
{
  clear:both;
}

/*.wrapper
{
  height:auto;
  margin:0 auto;
  padding:0;
  width:920px;
}*/

span.form-required
{
  color: #ffae00;
}


input
{
  font: 12px/100% "Arial";
  color: #494949;
}

textarea, select
{
  font: 12px/160% "Arial";
  color: #494949;
}

ol, ul
{
  margin:1em 0;
  padding:0 0 0 32px;
}

.preview
{
  background-color:#FCFCE8;
  border:1px solid #E5E58F;
  margin:0;
  padding:8px;
}

#container
{
  padding: 0px 0 220px 0;
  margin: 0 auto;
}

/*----------header styles----------*/
#header
{
  	height: 343px;
	overflow: hidden;
	position: relative;
}

#header h1
{
  color:#441F19;
  font-family:"Times New Roman",Times,serif;
  font-size:80px;
  font-weight:400;
  margin:0;
  padding:16px 0 0;
  width:950px;
}

#header h2
{
  font-size:20px;
  margin:4px 0 0;
  padding:6px 0 0 6px;
  width:950px;
}

#header .siteName
{
  float:left;
  padding:0;
  margin:-28px 0 0 372px;
  color: #AF3E6B;
}
.siteName a
{
  color: #AF3E6B;
}
#header .siteSlogan
{
  font-style:oblique;
  line-height:1;
  margin:-10px 0 10px;
  width:960px;
}

#header .wrapper
{
  height:160px;
}
.logo
{
  float:left;
  padding:0;
  margin:0 296px 0 300px;
}
/* searchform */
/* search form */
.form-item label {
  /*display: none;*/
}
#search-bloc .form-item label {
  display: none;
}

#search-theme-form {
	position: absolute;
	top: 205px;
	right: 14px;
	height: 37px;
	width: 210px;
}
#header .form-text {
	background: transparent;
	height: 15px;
	width: 128px;
	border: none;
	margin: 0 auto;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#header .form-submit { 
	/*background: url(images/spacer.gif) center;*/
	height: 37px;
	width: 40px;
	border: none;
	margin-left: 2px;
	text-indent: -999%;
	line-height: 1px;
	margin-top: 0px;
	cursor: pointer;
}
/***RSS FEED****/
.rss
{
  position: absolute;
	right: 124px;
	top: 101px;
}
/* welcome */
#welcome {
	width: 209px;
	height: 122px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.1em;
}
#welcome div {
	width: 209px;
	height: 122px;
	overflow: hidden;
}

/*----------navbar styles - primary links----------*/
#navbar
{
  height:30px;
  left: 107px;
  position:absolute;
  top: 206px;
  margin:0;
  padding:0;
  width:680px;
}

#navbar .wrapper
{
 height:auto;;
}

/*----------navtabs - primary links - styles---------- */
#navtabs
{
  color:#666;
  float:left;
  font-size:1.8em;
  font-weight:bold;
  list-style-type:none;
}

ul#navtabs
{
  margin:6px 0 0;
  padding:0;
}
#navtabs li
{
  margin:0;
  padding:0 0 0 20px;
  background:transparent;
  float:left;
  list-style-type:none;
}

#navtabs li a
{
  padding:5px 14px 2px 4px;
  background:transparent;
  color:#fff;
  display:block;
  text-decoration:none;
}

#navtabs li.cur, #navtabs li.over, #navtabs li:hover
{
  background:transparent;
}

#navtabs li strong, ul#navtabs li.cur a, ul#navtabs li.over a, ul#navtabs li:hover a
{
  padding:5px 14px 2px 4px;
  background:transparent;
  color: #B9DF00;
  display:block;
  text-decoration:none;
}

ul#navtabs li ul
{
  border-top:1px solid #d9d5ca;
  margin:0;
  padding:0;
  display:none;
  float:left;
  left:367px;
  position:absolute;
  top:250px;
  width:310px;
}


/*----------main content styles----------*/
#mainContent
{
  /*font-size:14px;
  line-height:20px;
  margin:0;
  padding:8px 0;*/

}

.contentLeft
{
  width: 520px;
	padding: 0px 0px 0 0px;
	display: inline;
	margin: 0px 95px 0 99px;
	float: left;
}

#sidebar {
	width: 209px;
	display: inline;
	position: relative;
	padding: 165px 0 0px 0px;
	margin: 0px 0px 0 0px;
	float: left;
}
#sidebar h2 {
	font-size: 1.8em;
	padding: 5px 0 5px 0px;
	text-align: center;
	color: #fff;
	background: url(images/sidebar_header_bg.png) no-repeat;
}
#sidebar ul li a {
	width: 201px;
	overflow: hidden;
	padding: 0 0 15px 0px;
	font-weight: bold;
	font-size: 1.2em;
}
#sidebar ul li {
	font-size: 1em;
	padding: 0 0 10px 0;
}
.item-list ul li {
	width: 201px;
	overflow: hidden;
	padding: 0 0 15px 0px;
	font-weight: bold;
}
#sidebar ul li a{
	color: #6a5524;	
}
#sidebar ul li a:hover {
	color: #900;	
}
#sidebar ul ul {
	width: 156px;
	margin: 0;
	padding: 0 0 0 0px;
	background: none;
}
#sidebar ul ul li {
	width: 156px;
	font-size: 1.2em;
	padding: 3px 0 4px 0px;
	/*background: url(images/sidebar_li.gif) left 8px no-repeat;*/
}
.item-list ul ul li {
	width: 156px;
	font-size: 1.2em;
	padding: 3px 0 4px 0px;
	/*background: url(images/sidebar_li.gif) left 8px no-repeat;*/
}
#sidebar ul ul ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
#sidebar ul ul li li {
	font-size: 1em;
	padding-left: 14px;
	width: 80%;
}
#sidebar .textwidget {
	margin: 7px 0;
}
#sidebar select {
	margin: 7px 0;
	width: 95%;
}

/*----------footer styles----------*/
#footer
{
  height:auto;
  margin:0;
}

#footer a
{
  color:#FDF7E9;
}

.footerMessage
{
  margin:0px 0px -54px 54px;
  padding:16px 0;
  text-align:center;
  width:60%;
  font-size: 11px;
}


/*---------- page styles----------*/
/**.pageTitle
{
  font-family:"Book Antiqua","Times New Roman",Times,serif;
  font-size:2em;
  line-height:1.2em;
  margin-bottom:0.25em;
}**/

.mission
{
  background:transparent;
  border:1px solid #fff;
  color:#333;
  font-size:1em;
  line-height:1.35em;
  margin:0.32em 0 0.85em;
  padding:1em;
}

.breadcrumb
{
  margin:0;
  padding: 7px 20px 5px 15px;
}

.messages
{
  color:#C80000;
  font-size:1.10em;
  margin:0.75em 0 0.75em;
  padding:0.5em 1em;
}

.messages ul
{
  margin:0;
}


/*----------node styles----------*/
.node, .nodePage
{
  /*border-top:1px solid #fff;*/
  margin:0 3px 1.5em;
  padding:10px 10px 0;
  border-bottom: 4px solid #E4DECE;
}

.nodePage
{
  padding:4px 10px 0px 10px;
}


.nodeTitle h2
{
    margin: 0px 0 0 0px;
	padding: 8px 20px 5px 20px;
	font-size: 1.8em; /* Post title */
	background: url(images/post_header_bg.jpg) no-repeat;
}
.node h2{
	margin: 0px 0 0 0px;
	padding: 8px 20px 5px 20px;
	font-size: 1.8em; /* Post title */
	background: url(images/post_header_bg.jpg) no-repeat;
}
.pageTitle{
	margin: 0px 0 0 0px;
	padding: 8px 20px 5px 20px;
	font-size: 1.8em; /* Post title */
	background: url(images/post_header_bg.jpg) no-repeat;
	color: #6a5524;
}
.node h2 a {
	color: #6a5524;
}
.taxonomy
{
  color:#909090;
  clear:left;
  font-size:1em;
  margin:0;
  padding:0 0 0.3em 0.5em;
}

.submitted
{
  color:#909090;
  font-size:1em;
  margin:0 0 2px;
  padding:0;
}

.node .content
{
  padding:6px 0 0;
}

.node .links
{
  font-size:12px;
  padding:0 0 0.35em 0;
  margin:0;
}

.picture
{
  float:right;
  padding-right:1em;
}

.preview .node
{
  padding:0.75em;

}

/*----------block styles----------*/

.block
{
  margin:0 0 1.5em;
  padding:0;
}

#sidebar .block h2.title
{
  font-size: 1.8em;
	padding: 5px 0 5px 0px;
	text-align: center;
	color: #fff;
	background: url(images/sidebar_header_bg.png) no-repeat;
}

.block-region
{
  background-color:#FFFF66;
  color:#333;
  margin-bottom:4px;
  margin-top:4px;
  padding:3px;
}

#sidebar .block .content
{
  margin:0;
  padding:0 0 0 26px;
}

.footerMessage .block
{
  margin:0;
  padding:0;
}

/*----------comment styles----------*/
.commentTitle
{
  font-size:1.25em;
}

.comment
{
  background-color:#CEE6DB;
  margin:0 0 2em;
  padding:1em;
}

h2.comments
{
  font-family:"Book Antiqua","Times New Roman",Times,serif;
  font-size:2em;
  line-height:1.2em;
  margin-bottom:0.25em;
}

blockquote
{
  margin:0;
  padding:0 0 8px;
}

blockquote p
{
  background:url('images/close-quote.gif') no-repeat right bottom;
  color:#30457E;
  font-family:serif;
  margin:10px 20px;
  padding-left:18px;
  text-indent:-18px;
  width:400px;
}

blockquote p:first-letter
{
  background:url('images/open-quote.gif') no-repeat left top;
  padding-left:18px;
}

/*----------misc. styles----------*/
hr
{
  margin:0;
  padding:0;
  border:none;
  height:1px;
  background:#5294c1;
}

dl
{
  margin:0.5em 0 1em 1.5em;
}

dl dd
{
  margin:0 0 .5em 1.5em;
}

dt
{
  font-size:1em;
  margin:0.65em 0 0;
}

dl
{
  margin:0.5em 0 1em 1.5em;
}

dl dd
{
  margin:0 0 .5em 1.5em;
}

span.form-required
{
  color:#ffae00;
}

.description
{
  font-size:0.92em;
  color:#5A5A5A;
  margin-bottom:0.75em;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item
{
  margin:0.25em 0;
}

#center form
{
  margin-bottom:2em;
}

.form-button, .form-submit
{
  margin:0.5em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit
{
  margin: 0;
}

.box
{
  margin-bottom:2.5em;
}

div.admin
{
  margin:0;
  padding:0;
}


.user-signature
{
  color:#949494;
  font-family:Cursive, sans;
  font-size:0.80em;
  margin:0;
  padding:0;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu
{
  margin: 0;
  padding: 0;
}

div.admin .left
{
  float: left;
  width: 48%;
}
div.admin .right
{
  float: right;
  width: 48%;
}

div.admin-panel
{
  padding: 1em 1em 1.5em;
}

div.admin-panel .description
{
  margin-bottom: 1.5em;
}

div.admin-panel dl
{
  margin: 0;
}

div.admin-panel dd
{
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

/*----------list styles----------*/
ul
{
  margin: 0.5em 0 1em;
  padding: 0;
}

ol
{
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li
{
  margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul
{
  line-height:1.2em;
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}

ul.menu ul, .item-list ul ul
{
  margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf
{
  margin: 0.15em 0 0.15em .5em;
}

ul li, ul.menu li, .item-list ul li, li.leaf
{
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
}

ol li
{
  padding: 0 0 .3em;
  margin-left: 2em;
}

ul li.expanded
{
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed
{
  background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a
{
  display: block;
}

ul.inline li
{
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

ol.task-list
{
  margin-left: 0;
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li
{
  padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active
{
  background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done
{
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active
{
  margin-right: 1em;
}

fieldset ul.clear-block li
{
  margin: 0;
  padding: 0;
  background-image: none;
}

ul.primary, ul.primary li, ul.secondary
{
  border-bottom:1px solid #BBBBBB;
  background: none;
  height:auto;
  margin:5px;
  padding:0 ;
}

ul.secondary li
{
  background: none;
  border-right:1px solid #CCCCCC;
  display:inline;
  padding:0 1em;
}

ul.links li {
  background:none;
  list-style:none;
  margin:0 1em 0 0;
  padding:0;
}


/*---------------user-login-form---remove center alignment---------------*/
#user-login-form
{
  margin:0;
  padding:0 0 0 10px;
  text-align:left;
}


label {
font-size: 12px;
}
form {
margin:10px 0px 0px 12px;
}
#comments {
margin:10px 0px 0px 12px;
}


/*---------------TinyMCE editor---------------*/
body.mceContentBody
{
  background:#fff;
  color:#000;
  font-size:14px;
}

body.mceContentBody a:link
{
  color:#ff0000;
}


/*---------------table styles---------------*/
table
{
  margin:1em 0;
  width:100%;
}

thead th
{
  border-bottom:2px solid #AAAAAA;
  color:#494949;
  font-weight:bold;
}

td,th
{
  padding:.3em 0 .5em;
}

tr.even,tr.odd,tbody th
{
  border:solid #D5D6D7;
  border-width:1px 0;
}

tr.even
{
  background-color:#fff;
}

td.region,td.module,td.container
{
  background-color:#FDF4DD;
  border-bottom:1px solid #AAAAAA;
  border-top:1.5em solid #fff;
  color:#455067;
  font-weight:bold;
}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container
{
  border-top-width:0;
}

td.menu-disabled,td.menu-disabled a
{
  background-color:#D5C2C2;
  color:#000;
}

td.active
{
  background-color:#f7f7f7;
}

/**
 * Watchdog.module
 */
tr.watchdog-user {
  background-color: #fcf9e5;
}

tr.watchdog-user td.active {
  background-color: #fbf5cf;
}

tr.watchdog-content {
  background-color: #fefefe;
}

tr.watchdog-content td.active {
  background-color: #f5f5f5;
}

tr.watchdog-warning {
  background-color: #fdf5e6;
}

tr.watchdog-warning td.active {
  background-color: #fdf2de;
}

tr.watchdog-error {
  background-color: #fbe4e4;
}

tr.watchdog-error td.active {
  background-color: #fbdbdb;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #d7ffd7;
}
tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}
.view-content-cal .odd
{
  background-color:#fff;
}
/*****Search Block****/
.container-inline label {
display:none;
}
.form textarea {
width: 165px;
}